<a href="https://colab.research.google.com/github/KRiver28/prac/blob/master/0112_IF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
isoverweight = True

if isoverweight:
  print('Diet!')
else:
  print('Eat it!')

Diet

In [9]:
weight = int(input('체중을 입력해주세요'))
hasDisease = input('질병이 있나요? True/False')
if weight > 80 or hasDisease ==True:
  print('다이어트!')
  print('운동해!')

else:
  print('맘껏 드세요')

체중을 입력해주세요70
질병이 있나요? True/FalseFalse
맘껏 드세요

In [21]:
weight = int(input('체중을 입력해주세요'))
hasDisease = input('질병이 있나요? (Y/N)')
if hasDisease == 'Y':
  print('의사와 상담하세요')
elif weight > 80 or hasDisease == 'Y':
  print('다이어트!')
else:
  print('맘껏 드세요')

체중을 입력해주세요90
질병이 있나요? (Y/N)Y
의사와 상담하세요

In [22]:
if 4<3:
  print('s')

In [23]:
trycnt = 0

while trycnt <10:
  trycnt += 1
  print(f'{trycnt}번 시도했습니다.')
  if trycnt >= 10:
    print('성공했습니다!')

1번 시도했습니다.
2번 시도했습니다.
3번 시도했습니다.
4번 시도했습니다.
5번 시도했습니다.
6번 시도했습니다.
7번 시도했습니다.
8번 시도했습니다.
9번 시도했습니다.
10번 시도했습니다.
성공했습니다!

In [28]:
prompt ="""
1.추가
2.삭제
3.보기
4.그만두기
번호를 입력하세요:
"""

num=0

while num !=4:
  print(prompt)
  num =int(input())
 
  print(f'선택한번호: {num}')

1.추가
2.삭제
3.보기
4.그만두기
번호를 입력하세요:

4
선택한번호: 4

In [43]:
#자판기
num_coffee =10
money = 10000

while money:
  print('커피를 판매합니다')

  num_coffee -=1
  print(f'남은 커피는{num_coffee}입니다.')

  if  num_coffee <= 0:
    print('커피판매를 중지합니다.')
    break

In [42]:
type(money)

int

In [54]:
num_coffee =10
money = int(input("돈을 넣어주세요,"))

while money :
  print('커피를 판매합니다')
  money -=5000
  num_coffee -=1
  print(f'남은 커피는{num_coffee}잔 입니다.')
  print(f'남은 금액은{money}원 입니다.\n')

  if  num_coffee <= 0:
    print('커피판매를 중지합니다.')
    break

  elif money < 5000:
    print(f'커피판매를 중지합니다. 거스름돈은 {money}원 입니다.')
    break

돈을 넣어주세요,10010
커피를 판매합니다
남은 커피는9잔 입니다.
남은 금액은5010원 입니다.

커피를 판매합니다
남은 커피는8잔 입니다.
남은 금액은10원 입니다.

커피판매를 중지합니다. 거스름돈은 10원 입니다.

In [129]:
#자판기 만들기

num_coffee =10
money = int(input("돈을 넣어주세요,"))

while money :
  print('커피를 판매합니다')
  
  money -=5000
  num_coffee -=1
  print(f'남은 커피는{num_coffee}잔 입니다.')
  print(f'남은 금액은{money}원 입니다.\n')

  if  num_coffee <= 0:
    print('커피판매를 중지합니다.')
    break

  elif money < 5000:
    print(f'잔액이 부족합니다. 거스름돈은 {money}원 입니다.')
    money = int(input("돈을 넣어주세요,"))

돈을 넣어주세요,10000
커피를 판매합니다
남은 커피는9잔 입니다.
남은 금액은5000원 입니다.

커피를 판매합니다
남은 커피는8잔 입니다.
남은 금액은0원 입니다.

잔액이 부족합니다. 거스름돈은 0원 입니다.
돈을 넣어주세요,50000
커피를 판매합니다
남은 커피는7잔 입니다.
남은 금액은45000원 입니다.

커피를 판매합니다
남은 커피는6잔 입니다.
남은 금액은40000원 입니다.

커피를 판매합니다
남은 커피는5잔 입니다.
남은 금액은35000원 입니다.

커피를 판매합니다
남은 커피는4잔 입니다.
남은 금액은30000원 입니다.

커피를 판매합니다
남은 커피는3잔 입니다.
남은 금액은25000원 입니다.

커피를 판매합니다
남은 커피는2잔 입니다.
남은 금액은20000원 입니다.

커피를 판매합니다
남은 커피는1잔 입니다.
남은 금액은15000원 입니다.

커피를 판매합니다
남은 커피는0잔 입니다.
남은 금액은10000원 입니다.

커피판매를 중지합니다.

In [63]:
#1~10까지 홀수를 구하는 프로그램
num_odd = 0
while num_odd <=10:
  if num_odd%2 == 1:
    print(num_odd)
  num_odd += 1

1
3
5
7
9

In [64]:
lcnt = ['one','two','three']

for i in lcnt:
  print(i)

one
two
three

In [67]:
#1부터 10까지 더하는 for문
result = 0
for i in range(1,11):
  result+=i

print(result)

55

In [69]:
lst = []
for x in range (2, 10):
  for y in range (1,10):
    lst.append(x*y)

  print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [70]:
result = [x*y for x in range(2,10) for y in range(1,10)]
result

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [76]:

fruits = ['apple', 'watermelon', 'orange']
for i in fruits:
  print(i)

apple
watermelon
orange

In [79]:
prices = [10000, 20000, 30000]

for i in prices:
  price=int(i*1.1)
  print(price)

11000
22000
33000

In [80]:
분식 =['김밥', '라면', '튀김']

for i in 분식:
  print(f'오늘 점심 메뉴 : {i}')

오늘 점심 메뉴 : 김밥
오늘 점심 메뉴 : 라면
오늘 점심 메뉴 : 튀김

In [87]:
pet = ['dog', 'cat', 'hamster']

for i in pet:
  print(f' {i} {len(i)}  {i[0]}')

 dog 3  d
 cat 3  c
 hamster 7  h

In [92]:
pets = ['dog', 'cat', 'hamster','fish']

for i in pets:
  if i !='dog':
    print(f'{i}')

cat
hamster
fish

In [94]:
pets = ['dog', 'cat', 'hamster','fish']

for i in pets:
  if i =='cat' or i == 'fish':
    print(f'{i}')

cat
fish

In [98]:
for i in pets[1::2]:
  print(i)

cat
fish

In [120]:
pets = ['dog', 'cat', 'hamster','fish']
pets.reverse()
for i in pets:
  print(f'{i}')

TypeError: ignored

In [103]:
for i in pets[::-1]:
  print(i)

fish
hamster
cat
dog

In [112]:
pets = ['dog', 'cat', 'hamster','fish']
pets.reverse()
print(pets)

['fish', 'hamster', 'cat', 'dog']

In [123]:
num = [10, -20, -30, 40]
for i in num[1:3]:
  print(i)

-20
-30

In [124]:
num = [10, -20, -30, 40]

In [126]:
for i in num:
  if i < 0:
    print(i)

-20
-30

In [128]:
def add2 (*args): # `*`를 치는 것은 리스트나 튜플같은 묶음 데이터를 받기 위함
    print(args)
    result = 0
    for arg in args:
        print(arg)
        result +=arg
        
    return result

result =add2(1,2,3)

(1, 2, 3)
1
2
3