<a href="https://colab.research.google.com/github/KRiver28/prac/blob/master/0113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#계산기 만들기
def cal(op, *args):
  
  if op =='add':
    results=0
    for i in args:
      results += i
    return results

  elif op == 'mul':
    results=1
    for a in args:
      results *= a
    return results
  
  else :
    return 0
  
  return result

In [28]:
result = cal('add',1,2,3,4,5)
result

15

In [34]:
result = cal('mul',1,2,3,4,5)
result

120

In [41]:
#키워드 파라미터
def mkDic(**kwargs): #kwargs : keyword arguments
  print(kwargs)

In [40]:
mkDic(a=1)

{'a': 1}

In [42]:
def add_mul(a,b):
  return a+b, a*b

In [44]:
result = add_mul(3,5)
result

(8, 15)

In [47]:
def say_nick(nick):
  if nick =='바보':
    return
  print(f'나의 별명은 {nick}입니다.')

In [51]:
say_nick('고고')
say_nick('바보')

나의 별명은 고고입니다.

In [61]:
def intro_me(name, age, sex='a man'): #인수에 sex='남자' 와 같이 입력하면 기본값을 설정할 수 있다.
  print(f'my name is {name}')
  print(f'my age is {age}')
  print(f"I'm {sex}")

In [62]:
intro_me('karam', 30)

my name is karam
my age is 30
I'm a man

#변수 스코프

In [63]:
g = 1 #g 전역변수 
def vartest(l): #l 지역변수
  l=l+1

vartest(g)
g

1

#람다함수

In [1]:
add = lambda a,b : a+b
result =add(1,2)
result

3

In [6]:
#위 람다 함수와 동일한 일반함수
def add(a,b):
    return a+b
result =add(1,2)
result

3

In [7]:
f=open('filetest.txt', 'w')
f.close()

In [8]:
f=open('filetest.txt', 'w')

for i in range(1,11):
  data = f'{i}번째 줄입니다.\n'
  f.write(data)
f.close()

In [10]:
f= open('filetest.txt','r')
line =f.readlines()
print(line)

f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [12]:
f= open('filetest.txt','r')
line =f.readline()
print(line)

f.close()

1번째 줄입니다.

In [13]:
f= open('filetest.txt','r')

while True:
  line = f.readline()
  if not line:
    break
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [29]:
buy=['로스웰 900260', 'KODEX 200선물인버스 252670', 'TS트릴리온 317240']

f=open('매수종목.txt', 'w')

for i in buy:
  f.write(i)
  f.write('\n')
f.close()

In [25]:
with open('filetest.txt','a') as f:
  for i in range(11,21):
    data=f'{i}\n'
    f.write(data)

In [31]:
#작성 방법 2 - 딕셔너리
stocks = {'로스웰':900260,'KODEX':252670, 'TS트릴리온':317240}
with open('매수종목.txt','w') as s:
  for i, j in stocks.items():
    data =f'{i}:{j}\n'
    s.write(data)

In [45]:
#매수종목.txt를 읽고 종목명과 코드를 리스트로 만들어보기

with open('매수종목.txt','r') as f:
  list1 = f.readlines()

  for i in list1:
    print(i)

print(list1)
type(list1)

로스웰:900260

KODEX:252670

TS트릴리온:317240

['로스웰:900260\n', 'KODEX:252670\n', 'TS트릴리온:317240\n']

list

In [92]:
#매수종목.txt를 읽고 종목명과 코드를 딕셔너리로 만들어보기
dic1 = {}
with open("매수종목.txt") as f:
    for line in f:
       (i,j) = line.split(':')
       k=j[0:6]
       dic1[i] = k
print(dic1)
type(dic1)

{'로스웰': '900260', 'KODEX': '252670', 'TS트릴리온': '317240'}

dict

In [93]:
j='900260\n'
k=j[0:6]
k

'900260'

In [94]:
dic1 = {}
with open("매수종목.txt") as f:
    for line in f:
       (i,j) = line.split(':')
       j.strip()
       dic1[i] = k
print(dic1)
type(dic1)

{'로스웰': '900260', 'KODEX': '900260', 'TS트릴리온': '900260'}

dict

In [96]:
dic1 = {}
with open("매수종목.txt") as f:
    for line in f:
       (i,j) = line.strip().split(':')
       dic1[i] = k
print(dic1)
type(dic1)

{'로스웰': '900260', 'KODEX': '900260', 'TS트릴리온': '900260'}

dict