<a href="https://colab.research.google.com/github/KRiver28/prac/blob/master/pandas_220124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas as pd
import numpy as np
import DataFrame as df

ModuleNotFoundError: ignored

#1.Series
  - 1차원데이터
  - 인덱스, 값

In [2]:
s = pd.Series([3,5,7,9])
s
#시리즈 입력 시, 자동으로 인덱스

0    3
1    5
2    7
3    9
dtype: int64

In [3]:
s2 = pd.Series([3,5,7,9],index=['a','b','c','d'])
s2

a    3
b    5
c    7
d    9
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s.values

array([3, 5, 7, 9])

In [7]:
s2['a']

3

In [8]:
s[0]

3

#2. DataFrame

In [10]:
data = {
    'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
    'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
    'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426],
}

#3. 인덱싱

In [11]:
data = {
    'col1':[1,2,3,4],
    'col2':[5,6,7,8],
    'col3':[9,10,11,12],
}

df3 = pd.DataFrame(data,index=['A','B','C','D'])
df3

   col1  col2  col3
A     1     5     9
B     2     6    10
C     3     7    11
D     4     8    12

In [15]:
s1 =pd.Series([1,2,3,4], index=['A','B','C','D'])
s2 =pd.Series([5,6,7,8], index=['A','B','C','D'])
s3 =pd.Series([9,10,11,12], index=['A','B','C','D'])

data= {
    'col1':s1,
    'col2':s2,
    'col3':s3,
}
df4=pd.DataFrame(data, index=['A','B','C','D'])
df4

   col1  col2  col3
A     1     5     9
B     2     6    10
C     3     7    11
D     4     8    12

In [16]:
s = pd.Series([3,5,7,9])
s

0    3
1    5
2    7
3    9
dtype: int64

In [17]:
s+10

0    13
1    15
2    17
3    19
dtype: int64

In [22]:
s = pd.Series([3,5,7,9], index=['a','b','c','d'])

In [25]:
s1 = s[['a','b']]
s1

a    3
b    5
dtype: int64

In [26]:
s2 = s[['b','c']]
s2

b    5
c    7
dtype: int64

In [31]:
s1+s2
#s2에 a가 없기 때문에 a NaN (Not A Number)
#s1에 c가 없기 때문에 c NaN (Not A Number)

a     NaN
b    10.0
c     NaN
dtype: float64

In [56]:
#퀴즈
data = {
    'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
    'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
    'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426],
}
data

{'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
 'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
 'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426]}

In [58]:
df_index_with_country= pd.DataFrame(data, index='Country')
df_index_with_country

TypeError: ignored

In [48]:
# 모든 도시의 인구수
df_index_with_country['Population']

0     9543
1    37340
2     6255
3    18823
4    11079
5     3567
6     9426
Name: Population, dtype: int64

In [57]:
#서울의 인구수
df_index_with_country['Population'][0]
df_index_with_country['Population']/df_index_with_country['Population'][0]

0    1.000000
1    3.912816
2    0.655454
3    1.972441
4    1.160956
5    0.373782
6    0.987740
Name: Population, dtype: float64

In [62]:
df= pd.DataFrame(data)
df

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [63]:
json_data=df.to_json()
json_data

'{"Country":{"0":"\\ub300\\ud55c\\ubbfc\\uad6d","1":"\\uc77c\\ubcf8","2":"\\uce90\\ub098\\ub2e4","3":"\\ubbf8\\uad6d","4":"\\ud504\\ub791\\uc2a4","5":"\\ub3c5\\uc77c","6":"\\uc601\\uad6d"},"City":{"0":"\\uc11c\\uc6b8","1":"\\ub3c4\\ucfc4","2":"\\ud1a0\\ub860\\ud1a0","3":"\\ub274\\uc695","4":"\\ud30c\\ub9ac","5":"\\ubca0\\ub97c\\ub9b0","6":"\\ub7f0\\ub358"},"Population":{"0":9543,"1":37340,"2":6255,"3":18823,"4":11079,"5":3567,"6":9426}}'

In [64]:
pd.read_json(json_data)

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [66]:
!wget -O 'iris_sample.csv' https://raw.githubusercontent.com/duc-ke/edu_jupyter_pandas/master/dataset/iris_sample.csv

--2022-01-24 04:15:11--  https://raw.githubusercontent.com/duc-ke/edu_jupyter_pandas/master/dataset/iris_sample.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 683 [text/plain]
Saving to: ‘iris_sample.csv’

iris_sample.csv     100%[===================>]     683  --.-KB/s    in 0s

2022-01-24 04:15:11 (22.1 MB/s) - ‘iris_sample.csv’ saved [683/683]

In [68]:
df_iris=pd.read_csv('iris_sample.csv')
df_iris

    sepal_length  sepal_width  petal_length  petal_width    species
0            5.1          3.5           1.4          0.2     setosa
1            4.9          3.0           1.4          0.2     setosa
2            4.7          3.2           1.3          0.2     setosa
3            4.6          3.1           1.5          0.2     setosa
4            5.0          3.6           1.4          0.2     setosa
5            5.4          3.9           1.7          0.4     setosa
6            4.6          3.4           1.4          0.3     setosa
7            5.0          3.4           1.5          0.2     setosa
8            4.4          2.9           1.4          0.2     setosa
9            4.9          3.1           1.5          0.1     setosa
10           5.4          3.7           1.5          0.2     setosa
11           4.8          3.4           1.6          0.2     setosa
12           4.8          3.0           NaN          0.1     setosa
13           4.3          3.0           1.1          0.1  virginica
14           5.8          4.0           NaN          0.2  virginica
15           5.7          NaN           1.5          0.4  virginica
16           5.4          3.9           1.3          0.4  virginica
17           5.1          3.5           NaN          0.3  virginica
18           5.7          3.8           1.7          0.3  virginica
19           5.1          3.8           1.5          0.3  virginica
20           5.1          3.5           1.4          0.2     setosa
21           4.9          3.0           1.4          0.2     setosa
22           4.7          3.2           1.3          0.2     setosa
23           5.1          3.5           1.4          0.2  virginica
24           4.9          3.0           1.4          0.2  virginica
25           4.7          3.2           1.3          0.2  virginica

In [70]:
!wget -O 'iris_sample.tsv' https://gist.githubusercontent.com/mbostock/3305937/raw/a5be7c5fd55c4fa0ca8a400cb68d658a40989966/data.tsv

--2022-01-24 04:25:12--  https://gist.githubusercontent.com/mbostock/3305937/raw/a5be7c5fd55c4fa0ca8a400cb68d658a40989966/data.tsv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33 [text/plain]
Saving to: ‘iris_sample.tsv’

iris_sample.tsv     100%[===================>]      33  --.-KB/s    in 0s

2022-01-24 04:25:12 (2.47 MB/s) - ‘iris_sample.tsv’ saved [33/33]

In [73]:
pd.read_csv('iris_sample.tsv',sep='\t')

    x   y
0   5  90
1  25  30
2  45  50
3  65  55
4  85  25

In [74]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [77]:
df_iris2 = df_iris.head()
df_iris2

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [83]:
df_iris2.to_csv('iris_sample2.csv')

In [84]:
pd.read_csv('iris_sample2.csv')

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [87]:
df_iris2.to_csv('iris_sample2.csv', index=False)
pd.read_csv('iris_sample2.csv')
#위 방법으로 생성 시, 추가되는 인덱스를 추가하지 않는 방법

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [88]:
!pip install xlsxwriter
#엑셀 라이터 설치

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 4.3 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [102]:
df_iris=pd.read_csv('iris_sample.csv')
df_iris
df_iris.to_excel('iris_sample.xlsx',index=False)

In [103]:
df_iris=pd.read_excel('iris_sample.xlsx')
df_iris

    sepal_length  sepal_width  petal_length  petal_width    species
0            5.1          3.5           1.4          0.2     setosa
1            4.9          3.0           1.4          0.2     setosa
2            4.7          3.2           1.3          0.2     setosa
3            4.6          3.1           1.5          0.2     setosa
4            5.0          3.6           1.4          0.2     setosa
5            5.4          3.9           1.7          0.4     setosa
6            4.6          3.4           1.4          0.3     setosa
7            5.0          3.4           1.5          0.2     setosa
8            4.4          2.9           1.4          0.2     setosa
9            4.9          3.1           1.5          0.1     setosa
10           5.4          3.7           1.5          0.2     setosa
11           4.8          3.4           1.6          0.2     setosa
12           4.8          3.0           NaN          0.1     setosa
13           4.3          3.0           1.1          0.1  virginica
14           5.8          4.0           NaN          0.2  virginica
15           5.7          NaN           1.5          0.4  virginica
16           5.4          3.9           1.3          0.4  virginica
17           5.1          3.5           NaN          0.3  virginica
18           5.7          3.8           1.7          0.3  virginica
19           5.1          3.8           1.5          0.3  virginica
20           5.1          3.5           1.4          0.2     setosa
21           4.9          3.0           1.4          0.2     setosa
22           4.7          3.2           1.3          0.2     setosa
23           5.1          3.5           1.4          0.2  virginica
24           4.9          3.0           1.4          0.2  virginica
25           4.7          3.2           1.3          0.2  virginica

In [107]:
df_iris=pd.read_excel('iris_sample3.xlsx',sheet_name=1)
df_iris

    Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0            0           5.1          3.5           1.4          0.2  setosa
1            1           4.9          3.0           1.4          0.2  setosa
2            2           4.7          3.2           1.3          0.2  setosa
3            3           4.6          3.1           1.5          0.2  setosa
4            4           5.0          3.6           1.4          0.2  setosa
5            5           5.4          3.9           1.7          0.4  setosa
6            6           4.6          3.4           1.4          0.3  setosa
7            7           5.0          3.4           1.5          0.2  setosa
8            8           4.4          2.9           1.4          0.2  setosa
9            9           4.9          3.1           1.5          0.1  setosa
10          10           5.4          3.7           1.5          0.2  setosa

In [109]:
df_iris=pd.read_excel('iris_sample3.xlsx',sheet_name='iris2')
df_iris

    Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0            0           5.1          3.5           1.4          0.2  setosa
1            1           4.9          3.0           1.4          0.2  setosa
2            2           4.7          3.2           1.3          0.2  setosa
3            3           4.6          3.1           1.5          0.2  setosa
4            4           5.0          3.6           1.4          0.2  setosa
5            5           5.4          3.9           1.7          0.4  setosa
6            6           4.6          3.4           1.4          0.3  setosa
7            7           5.0          3.4           1.5          0.2  setosa
8            8           4.4          2.9           1.4          0.2  setosa
9            9           4.9          3.1           1.5          0.1  setosa
10          10           5.4          3.7           1.5          0.2  setosa

In [110]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp37-cp37m-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 1.2 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [111]:
import sqlalchemy

In [113]:
user ='anonymous'
host ='ensembldb.ensembl.org'
port ='3337'
database = 'ailuropoda_melanoleuca_core_79_1'
url = f"mysql+mysqlconnector://{user}@{host}:{port}/{database}"
#https:// www,naver,com

connection = sqlalchemy.create_engine(url)

In [114]:
connection

Engine(mysql+mysqlconnector://anonymous@ensembldb.ensembl.org:3337/ailuropoda_melanoleuca_core_79_1)

In [115]:
pd.read_sql('select*from analysis limit 10', connection)

   analysis_id             created  ... gff_source gff_feature
0           10 2010-01-27 18:23:33  ...       None        None
1          151 2010-06-17 12:10:04  ...       None        None
2           38 2010-01-27 18:23:34  ...       None        None
3          147 2010-06-17 12:10:04  ...       None        None
4          148 2010-06-17 12:10:04  ...       None        None
5           43 2010-01-27 18:23:34  ...       None        None
6           45 2010-01-27 18:23:34  ...       None        None
7           49 2010-01-27 18:23:34  ...       None        None
8           51 2010-01-27 18:23:34  ...       None        None
9           46 2010-01-27 18:23:34  ...       None        None

[10 rows x 14 columns]