<a href="https://colab.research.google.com/github/KRiver28/prac/blob/master/pandas_220124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#1.Series
  - 1차원데이터
  - 인덱스, 값

In [ ]:
s = pd.Series([3,5,7,9])
s
#시리즈 입력 시, 자동으로 인덱스

0    3
1    5
2    7
3    9
dtype: int64

In [ ]:
s2 = pd.Series([3,5,7,9],index=['a','b','c','d'])
s2

a    3
b    5
c    7
d    9
dtype: int64

In [ ]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
s.values

array([3, 5, 7, 9])

In [ ]:
s2['a']

3

In [ ]:
s[0]

3

#2.DataFrame

In [ ]:
data = {
    'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
    'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
    'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426],
}

#3.인덱싱

In [ ]:
data = {
    'col1':[1,2,3,4],
    'col2':[5,6,7,8],
    'col3':[9,10,11,12],
}

df3 = pd.DataFrame(data,index=['A','B','C','D'])
df3

   col1  col2  col3
A     1     5     9
B     2     6    10
C     3     7    11
D     4     8    12

In [ ]:
s1 =pd.Series([1,2,3,4], index=['A','B','C','D'])
s2 =pd.Series([5,6,7,8], index=['A','B','C','D'])
s3 =pd.Series([9,10,11,12], index=['A','B','C','D'])

data= {
    'col1':s1,
    'col2':s2,
    'col3':s3,
}
df4=pd.DataFrame(data, index=['A','B','C','D'])
df4

   col1  col2  col3
A     1     5     9
B     2     6    10
C     3     7    11
D     4     8    12

In [ ]:
s = pd.Series([3,5,7,9])
s

0    3
1    5
2    7
3    9
dtype: int64

In [ ]:
s+10

0    13
1    15
2    17
3    19
dtype: int64

In [ ]:
s = pd.Series([3,5,7,9], index=['a','b','c','d'])

In [ ]:
s1 = s[['a','b']]
s1

a    3
b    5
dtype: int64

In [ ]:
s2 = s[['b','c']]
s2

b    5
c    7
dtype: int64

In [ ]:
s1+s2
#s2에 a가 없기 때문에 a NaN (Not A Number)
#s1에 c가 없기 때문에 c NaN (Not A Number)

a     NaN
b    10.0
c     NaN
dtype: float64

In [ ]:
#퀴즈
data = {
    'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
    'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
    'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426],
}
data

{'City': ['서울', '도쿄', '토론토', '뉴욕', '파리', '베를린', '런던'],
 'Country': ['대한민국', '일본', '캐나다', '미국', '프랑스', '독일', '영국'],
 'Population': [9543, 37340, 6255, 18823, 11079, 3567, 9426]}

In [ ]:
df_index_with_country= pd.DataFrame(data, index='Country')
df_index_with_country

TypeError: ignored

In [ ]:
# 모든 도시의 인구수
df_index_with_country['Population']

In [ ]:
#서울의 인구수
df_index_with_country['Population'][0]
df_index_with_country['Population']/df_index_with_country['Population'][0]

In [ ]:
df= pd.DataFrame(data)
df

In [ ]:
json_data=df.to_json()
json_data

In [ ]:
pd.read_json(json_data)

In [ ]:
!wget -O 'iris_sample.csv' https://raw.githubusercontent.com/duc-ke/edu_jupyter_pandas/master/dataset/iris_sample.csv

In [ ]:
df_iris=pd.read_csv('iris_sample.csv')
df_iris

In [ ]:
!wget -O 'iris_sample.tsv' https://gist.githubusercontent.com/mbostock/3305937/raw/a5be7c5fd55c4fa0ca8a400cb68d658a40989966/data.tsv

In [ ]:
pd.read_csv('iris_sample.tsv',sep='\t')

In [ ]:
df_iris.head()

In [ ]:
df_iris2 = df_iris.head()
df_iris2

In [ ]:
df_iris2.to_csv('iris_sample2.csv')

In [ ]:
pd.read_csv('iris_sample2.csv')

In [ ]:
df_iris2.to_csv('iris_sample2.csv', index=False)
pd.read_csv('iris_sample2.csv')
#위 방법으로 생성 시, 추가되는 인덱스를 추가하지 않는 방법

In [ ]:
!pip install xlsxwriter
#엑셀 라이터 설치

In [ ]:
df_iris=pd.read_csv('iris_sample.csv')
df_iris
df_iris.to_excel('iris_sample.xlsx',index=False)

In [ ]:
df_iris=pd.read_excel('iris_sample.xlsx')
df_iris

In [ ]:
df_iris=pd.read_excel('iris_sample3.xlsx',sheet_name=1)
df_iris

In [ ]:
df_iris=pd.read_excel('iris_sample3.xlsx',sheet_name='iris2')
df_iris

In [ ]:
!pip install mysql-connector-python

In [ ]:
import sqlalchemy

In [ ]:
user ='anonymous'
host ='ensembldb.ensembl.org'
port ='3337'
database = 'ailuropoda_melanoleuca_core_79_1'
url = f"mysql+mysqlconnector://{user}@{host}:{port}/{database}"
#https:// www,naver,com

connection = sqlalchemy.create_engine(url)

In [ ]:
connection

In [ ]:
pd.read_sql('select*from analysis limit 10', connection)

In [ ]:
df

In [ ]:
df[['Country','Population']]

In [ ]:
df.iloc[0,0]

In [ ]:
df.loc[0,'Country']

In [ ]:
df.at[0,'Country']

In [ ]:
df[0:2]

In [ ]:
df2 = pd.DataFrame(data,index=['aa','bb','cc','dd','ee','ff','gg'])
df2

In [ ]:
df2['aa':'cc']
#숫자로 인덱싱을 할 경우에는 마지막 숫자에 해당하는 값이 나오지 않지만
#문자로 인덱싱 할 경우(라벨)에는 포함되어 값이 나온다.

In [ ]:
df.iloc[0:1,0:2]

In [ ]:
df.loc[0:1,'Country':'City']

In [ ]:
df.loc[0:0,'Country':'City']

In [ ]:
df.loc[:,'Population']

In [ ]:
df['Population']

In [ ]:
#인구 수가 천만명이 넘는 도시 찾기e
df[df['Population']>10000]

In [ ]:
df[df.loc[:, 'Population'] > 10000]

In [ ]:
data= {
    'country':['Belgium','France','Germany','Netherland','United Kingdom'],
    'population':[11.3, 64.3, 83.7, 16.9,64.9],
    'area':[30510,671308,357050,41526,244820],
    'capital':['Brussels','Paris','Berlin','Amsterdam','London']
}

countries = pd.DataFrame(data)
countries = countries.set_index('country')

In [ ]:
countries

##1.인구 밀도 density 컬럼을 추가
### *인구밀도: 단위 면적당 인구수

In [ ]:
density_cal =countries['population']*1000000/countries['area']
countries.insert(2,'density',density_cal)
countries

In [ ]:
countries['density'] = countries['population']*1000000 / countries['area']
countries

##2.인구 밀도 300이상 되는 나라의 수도, 인구, 나라를 나타낸다

In [ ]:
density_cal = countries['density'] >= 300
countries.loc[density_cal, ['capital', 'population']]

In [ ]:
#인덱싱으로 표현하기

countries[countries['density']>=300][['capital','population']]

In [ ]:
condition =countries['density']>=300
countries[condition][['capital','population']]

##3.density_ratio 컬럼 추가
density_ratio =인구밀도/평균인구밀도

In [ ]:
density_avg = countries['density'].mean()
countries['density_ratio'] = countries['density']/density_avg
countries

##4.영국의 수도를 멘체스터로 변경하기
*인덱싱 & loc로 각각
# 새 섹션

In [ ]:
#인덱싱 활용
countries['capital']['United Kingdom'] = 'Manchester'
countries

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                population    area     density     capital  density_ratio
country
Belgium               11.3   30510  370.370370    Brussels       1.349116
France                64.3  671308   95.783158       Paris       0.348901
Germany               83.7  357050  234.420949      Berlin       0.853905
Netherland            16.9   41526  406.973944   Amsterdam       1.482448
United Kingdom        64.9  244820  265.092721  Manchester       0.965630

In [ ]:
#loc활용
countries.loc[('United Kingdom','capital')]= 'Manchester'
countries

                population    area     density     capital  density_ratio
country
Belgium               11.3   30510  370.370370    Brussels       1.349116
France                64.3  671308   95.783158       Paris       0.348901
Germany               83.7  357050  234.420949      Berlin       0.853905
Netherland            16.9   41526  406.973944   Amsterdam       1.482448
United Kingdom        64.9  244820  265.092721  Manchester       0.965630

##5.인구밀도 100이상 300미만인 나라 구하기

In [ ]:
condition1 = countries['density'] >= 100
condition2 = countries['density'] < 300
den2 = countries[condition1][condition2]
den2.iloc[:,0:0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: []
Index: [Germany, United Kingdom]

##6.수도의 글자가 7자 이상인 나라는?

In [ ]:
condition= countries['capital'].str.len() >= 7
capital7=countries[condition]
capital7.iloc[:,0:0]

Empty DataFrame
Columns: []
Index: [Belgium, Netherland, United Kingdom]

In [ ]:
countries.loc[condition,:]

##7.수도에'lo'가 포함된 나라 찾기

In [ ]:
condition = countries['capital'].str.contains('Lo')
countries[condition].iloc[:,]

Empty DataFrame
Columns: [population, area, density, capital, density_ratio]
Index: []

In [ ]:
condition = countries['capital'].str.contains('Lo')
countries[condition]

Empty DataFrame
Columns: [population, area, density, capital, density_ratio]
Index: []

# 행/열 삭제

In [ ]:
df

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
df.drop(1,axis=0) #1번(일본)행을 삭제

  Country City  Population
0    대한민국   서울        9543
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
df.drop([2,4])

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
3      미국   뉴욕       18823
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
#열 삭제
df.drop('City',axis=1)

  Country  Population
0    대한민국        9543
1      일본       37340
2     캐나다        6255
3      미국       18823
4     프랑스       11079
5      독일        3567
6      영국        9426

In [ ]:
df.drop(['Country','City'],axis=1)

   Population
0        9543
1       37340
2        6255
3       18823
4       11079
5        3567
6        9426

In [ ]:
df2 =df.copy()
df2

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
df2.drop(1,inplace=True)
df2

  Country City  Population
0    대한민국   서울        9543
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
df

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340
2     캐나다  토론토        6255
3      미국   뉴욕       18823
4     프랑스   파리       11079
5      독일  베를린        3567
6      영국   런던        9426

In [ ]:
df.describe()

         Population
count      7.000000
mean   13719.000000
std    11442.721719
min     3567.000000
25%     7840.500000
50%     9543.000000
75%    14951.000000
max    37340.000000

In [ ]:
df.head(2)

  Country City  Population
0    대한민국   서울        9543
1      일본   도쿄       37340

In [ ]:
df.sort_values('Population')

  Country City  Population
5      독일  베를린        3567
2     캐나다  토론토        6255
6      영국   런던        9426
0    대한민국   서울        9543
4     프랑스   파리       11079
3      미국   뉴욕       18823
1      일본   도쿄       37340

In [ ]:
df.sort_values('Population',ascending=False)
#내림차순으로 소트

  Country City  Population
1      일본   도쿄       37340
3      미국   뉴욕       18823
4     프랑스   파리       11079
0    대한민국   서울        9543
6      영국   런던        9426
2     캐나다  토론토        6255
5      독일  베를린        3567

In [ ]:
df.isnull()
#값이 없는 것을 찾기(결측치)

   Country   City  Population
0    False  False       False
1    False  False       False
2    False  False       False
3    False  False       False
4    False  False       False
5    False  False       False
6    False  False       False

In [ ]:
df.isnull().any()
#각 열에 결측 치가 있는지 확인

Country       False
City          False
Population    False
dtype: bool

In [ ]:
df.isnull().any(axis=1)
#각 행에 결측 치가 있는지 확인

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [ ]:
df2[0,'population']=None

In [ ]:
df2.isnull().any()

Country            False
City               False
Population         False
(0, population)     True
dtype: bool

In [ ]:
df2.isnull().any().any()

True

In [ ]:
df.count()

Country       7
City          7
Population    7
dtype: int64

In [ ]:
df.sum()

Country       대한민국일본캐나다미국프랑스독일영국
City            서울도쿄토론토뉴욕파리베를린런던
Population                 96033
dtype: object

In [ ]:
df.min()

Country       대한민국
City            뉴욕
Population    3567
dtype: object

In [ ]:
df.max()

Country         프랑스
City             파리
Population    37340
dtype: object

In [ ]:
df.mean()

Population    13719.0
dtype: float64

In [ ]:
df.median()
#중간값

Population    9543.0
dtype: float64